@import "compass/css3";
@import "lib/animations";
@import "lib/keyframes";
@import "lib/media";
@import "lib/ceaser-easing/ceaser";
@font-face {
  font-family: 'Conv_fontscore.com_h_helvetica-lt-std-bold';
  src: url('../fonts/fontscore.com_h_helvetica-lt-std-bold.eot');
  src: local('☺'), url('../fonts/fontscore.com_h_helvetica-lt-std-bold.woff') format('woff'), url('../fonts/fontscore.com_h_helvetica-lt-std-bold.ttf') format('truetype'), url('../fonts/fontscore.com_h_helvetica-lt-std-bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Helvetica-Regular';
  src: url('../fonts/Helvetica-Regular.eot');
  src: local('☺'), url('../fonts/Helvetica-Regular.woff') format('woff'), url('../fonts/Helvetica-Regular.ttf') format('truetype'), url('../fonts/Helvetica-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}




// gradients for ie
$experimental-support-for-svg: true;

// global sprites
$icons: sprite-map("icons/*.png", $spacing: 10px);

// svg icons url
$icons-svg: "icons-svg/";

// responsive
$break-small: 500px;
$break-large: 1180px;
@mixin respond-to($media) {
  @if $media == pda {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == wide {
    @media only screen and (min-width: $break-large) { @content; }
  }
}
// retina bg
@mixin retina{
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    @content;
  }
}

// BACKGROUND SIZE
@mixin background-size($width: 100%, $height: 100%) {
     -moz-background-size: $width $height;
  -webkit-background-size: $width $height;
          background-size: $width $height;
}
// ROTATE
@mixin rotate($deg: 0, $m11: 0, $m12: 0, $m21: 0, $m22: 0) {
     -moz-transform: rotate($deg + deg);
       -o-transform: rotate($deg + deg);
  -webkit-transform: rotate($deg + deg);
      -ms-transform: rotate($deg + deg);
          transform: rotate($deg + deg);
             filter: progid:DXImageTransform.Microsoft.Matrix(
                     M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
               zoom: 1;
}

// skew
@mixin skew($deg) {
     -moz-transform: skew($deg);
       -o-transform: skew($deg);
  -webkit-transform: skew($deg);
      -ms-transform: skew($deg);
          transform: skew($deg);
}

// box-sizing
@mixin box-sizing($var) {
     -moz-box-sizing: $var;
  -webkit-box-sizing: $var;
          box-sizing: $var;
}

// user-select
@mixin user-select() {
     -moz-user-select: none;
  -webkit-user-select: none;
          user-select: none;
}

// image replacement extend
%hide-text{
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

@mixin clr{
  *zoom: 1;
  &:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
}

// placeholder color
@mixin placeholder($color, $font-family) {
  &.placeholder {
    color: $color;
    font-family: $font-family;
  }
  &:-moz-placeholder {
    color: $color;
    font-family: $font-family;
  }
  &::-webkit-input-placeholder {
    color: $color;
    font-family: $font-family;
  }
}

@mixin gray(){
  filter: url(../img/filter.svg#grayscale);
  filter: gray;
  -o-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)";
}
%gray{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
   -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)";
}
%gray-half{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.5\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray alpha(opacity=50); /* IE6-9 */
  -webkit-filter: grayscale(50%); /* Chrome 19+ & Safari 6+ */
}
%gray-zero{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}

// sized sprites
@mixin image-size($path){
  width: image-width($path);
  height: image-height($path);
}
//for retina
@mixin image-sizer($path){
  width: image-width($path)/2;
  height: image-height($path)/2;
}

@mixin s($sprite, $map: $icons){
  background: sprite($map, $sprite) no-repeat;
  @include image-size(sprite-file($map, $sprite));
}
//for retina
@mixin sized-spriter($map, $sprite){
  background: sprite($map, $sprite) no-repeat;
  $ypos: round(nth(sprite-position($map, $sprite), 2) / 2);
  background-position: 0 $ypos;
  @include image-sizer(sprite-file($map, $sprite));
  @include background-size(ceil(image-width(sprite-path($map)) / 2), ceil(image-height(sprite-path($map)) / 2));
}

// SVG icon 
// include for global icon`s class
@mixin is-icon-svg {
  display: inline-block;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
// include for current icon`s class
@mixin icon-svg($name, $width, $height) {
    width: $width + px;
    height: $height + px;
    background-image: inline-image($icons-svg + $name + ".svg");
}

// fonts
@mixin hel {
    font-family: 'Conv_Helvetica-Regular', Arial, sans-serif;
}
@mixin hel_b {
    font-family: 'Conv_fontscore.com_h_helvetica-lt-std-bold', Arial, sans-serif;
}