@import "base";
/* ------------------------------------- Reset css -------------------------------------------- */
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body, html {
    height: 100%
}
img,fieldset {border:none;}
input[type="submit"], button {cursor:pointer;}
input[type='submit']::-moz-focus-inner{padding:0;border:0}
textarea {overflow: auto;}
input, button {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,button,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
ul,ol {
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
    display: block;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body{
    min-width: 1000px;
    color: #474747;
    @include hel;
    line-height: 1.4;
}
a{
    color:#00919e;
    &:hover{
        text-decoration:none
    }
}
.wrap {
    @extend %clr;
}
.l-container {
    margin: 0 auto;
    width: 942px;
}
/* ------------------------------------ //END Main styles --------------------------------------- */
 
/* ----------------------------------------- Header --------------------------------------------- */
.header {
    position: relative;
    min-height: 478px;
    background: #9cd4f1 url(../img/header-bg.jpg) 50% 0 no-repeat;
    @include background-size(100%, 100%);
}

.header__top {
    text-align: center;
    @include text-shadow(0 1px 0 #fff);
    color: #404040;
    font-size: 20px;
}

.title {
    margin-bottom: 3px;
    padding-top: 50px;
    font-size: 47px;
    font-weight: normal;
    text-transform: uppercase;
}

.header__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 13px 0 12px;
    border: 1px solid #000;
    background: #657075;
    background: rgba(0,0,0,.65);
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,.13));
    @include background-image(linear-gradient(left, rgba(255,255,255,.22) 1.67%, rgba(212,212,212,.22) 45.67%, rgba(255,255,255,.22) 89.67%));
    .l-container {
        @include clr;
    }
}

.nav {
    display: table;
    float: left;
    width: 788px;
    height: 52px;
    @include clr;
    a {
        position: relative;
        display: table-cell;
        padding: 10px 0 0 12px;
        min-width: 60px;
        max-width: 245px;
        background: #484848;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        @include box-shadow(inset 0 1px 0 rgba(255,255,255,.28), 0 1px 0 rgba(255,255,255,.1));
        @include background-image(linear-gradient(#484b4d, #373a3d 55%, #2c2f30 55%, #1d1f21));
        @include hel_b;
        font-size: 9px;
        color: #b9b9b9;
        text-decoration: none;
        @include box-sizing(border-box);
        text-transform: uppercase;
        overflow: hidden;
        &:hover {
            z-index: 2;
            background: #1d1f21;
            @include box-shadow(inset 0 1px 0 rgba(255,255,255,.28), 0 1px 0 rgba(255,255,255,.1), 2px 0 0 #1d1f21);
            &:before,
            &:after {
                display: none;
            }
        }
        &:active {
            @include box-shadow(2px 0 0 #1d1f21);
        }
        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 6px;
            bottom: 6px;
            width: 1px;
            background: #000;
        }
        &:after {
            left: 1px;
            background: #4f5254;
        }
        &:first-child {
            border-left: 1px solid #000;
            @include border-radius(11px 0 0 11px);
            &:before,
            &:after {
                display: none;
            }
        }
        &:last-child {
            border-right: 1px solid #000;
            width: 97px;
            text-align: center;
            @include border-radius(0 11px 11px 0);
            strong {
                font-size: 11px;
                white-space: normal;
                text-shadow: 0 1px 0 rgba(0,0,0,.75);
            }
            &:hover {
                @include box-shadow(none);
            }
        }
        &.is-active {
            background: #622d47;
            @include box-shadow(inset 0 1px 0 #856073, 0 1px 0 rgba(255,255,255,.1));
            @include background-image(linear-gradient(#552d41, #4c2238 55%, #3a1026 55%, #360d22));
            &:before,
            &:after {
                top: 0;
                bottom: 0;
            }
            &:after {
                background: #643f53;
            }
            &:hover {
                @include box-shadow(inset 0 1px 0 #856073, 0 1px 0 rgba(255,255,255,.1));
                &:before,
                &:after {
                    display: block;
                }
            }
            i {
                position: absolute;
                left: 50%;
                bottom: -35px;
                margin-left: -45%;
                width: 90%;
                height: 33px;
                @include box-shadow(0 0 80px 5px #bb1a6a);
                @include border-radius(50%);
            }  
        }
    }
    span {
        display: block;
    }
    strong {
        position: relative;
        z-index: 2;
        display: block;
        width: 98%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 13px;
        color: #fff;
    }
}

.filter {
    float: right;
    font-size: 0;
    height: 52px;
    line-height: 52px;
}

.btn {
    position: relative;
    vertical-align: middle;
    height: 40px;
    border: 1px solid #000;
    @include border-radius(11px);
    background: #484848;
    text-align: center;
    line-height: 1;
    overflow: hidden;
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,.28), 0 1px 0 rgba(255,255,255,.1));
    @include background-image(linear-gradient(#484b4d, #373a3d 55%, #2c2f30 55%, #1d1f21));
    &.is-active {
        background: #622d47;
        @include box-shadow(inset 0 1px 0 rgba(255,255,255,.06), inset 0 0 0 1px rgba(255,255,255,.07));
        @include background-image(linear-gradient(#552d41, #4c2238 55%, #3a1026 55%, #360d22));
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -26px;
            z-index: 2;
            margin-left: -45%;
            width: 90%;
            height: 25px;
            @include box-shadow(0 0 50px 5px #bb1a6a);
            @include border-radius(50%);
        }
        &:hover {
            @include box-shadow(inset 0 1px 0 rgba(255,255,255,.06), inset 0 0 0 1px rgba(255,255,255,.07));
            @include background-image(linear-gradient(#552d41, #4c2238 55%, #3a1026 55%, #360d22));
        }
    }
    &:hover {
        background: #1d1f21;
    }
    &:active {
        @include background-image(none);
        @include box-shadow(none);
    }
    i {
        position: relative;
        z-index: 2;
        display: inline-block;
        vertical-align: middle;
    }
}

.btn_filter {  
    margin-right: 14px;
    width: 42px;
    i {
        @include s(filter);
    }
    &:hover {
        i {
            @include s(filter-act);
        }
    }
}

.btn_val {
    width: 38px;
    border-right: 1px solid #000;
    @include border-radius(11px 0 0 11px);
    i {
        @include s(dol);
    }
    &:hover {
        i {
            @include s(dol-act);
        }
    }
}

.btn_list { 
    width: 38px;
    border-left: 1px solid #1e1e1e;
    @include border-radius(0 11px 11px 0);
    i {
        @include s(list);
    }
    &:hover {
        i {
            @include s(list-act);
        }
    }
}
/* -------------------------------------- //END Header ------------------------------------------ */
